<body>
  <div class="form-container">
    <form>
      <div>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom">
      </div>
      <div>
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom">
      </div>
      <div>
        <label for="motdepasse">Mot de passe:</label>
        <input type="password" id="motdepasse" name="motdepasse">
      </div>
      <div>
        <label for="pseudo">Pseudo:</label>
        <input type="text" id="pseudo" name="pseudo">
      </div>
      <div>
        <label for="age">Âge:</label>
        <input type="number" id="age" name="age">
      </div>
      <div>
        <label for="niveau">Niveau:</label>
        <select id="niveau" name="niveau">
          <option value="debutant">Débutant</option>
          <option value="intermediaire">Intermédiaire</option>
          <option value="avance">Avancé</option>
        </select>
      </div>
      <div>
        <label for="mail">Mail:</label>
        <input type="email" id="mail" name="mail">
      </div>
      <button type="submit">Ajouter Joueur</button>
    </form>
  </div>  
</body>





<router-outlet />
