/* CSS pour le formulaire d'inscription */

/* Conteneur du formulaire */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9; /* Couleur de fond */
  }
  
  /* Styles du formulaire */
  .form-container form {
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles pour les champs */
  .form-container form div {
    margin-bottom: 20px;
  }
  
  .form-container form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .form-container form input[type="text"],
  .form-container form input[type="number"],
  .form-container form input[type="password"],
  .form-container form input[type="email"],
  .form-container form select {
    width: calc(100% - 20px); /* Largeur ajustée */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px; /* Espacement entre les champs */
  }
  
  /* Styles pour le bouton */
  .form-container form button {
    width: calc(100% - 20px); /* Largeur ajustée */
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container form button:hover {
    background-color: #0056b3;
  }
  
  /* Style pour le titre du formulaire */
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Style pour les liens en bas du formulaire */
  .form-container p {
    text-align: center;
  }
  
  .form-container p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .form-container p a:hover {
    text-decoration: underline;
  }
  