<div *ngIf="data" class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li *ngFor="let tournois of data" class="list-group-item d-flex justify-content-between align-items-center mb-2 bg-light">
        <div class="d-flex flex-column">
          <h5 class="mb-0 text-primary">{{ tournois.nom }}</h5>
          <p class="text-muted mb-1"><strong>Date:</strong> <span class="text-primary">{{ tournois.date }}</span></p>
          <p class="text-muted mb-1"><strong>Durée:</strong> <span class="text-primary">{{ tournois.duree }} min</span></p>
          <p class="text-muted mb-1"><strong>Lieu:</strong> <span class="text-primary">{{ tournois.lieu }}</span></p>
          <p class="text-muted mb-1"><strong>Joueurs:</strong> <span class="text-primary">{{ tournois.list_joueur_dto }}</span></p>
          <p class="text-muted mb-1"><strong>Matches:</strong> <span class="text-primary">{{ tournois.list_match }}</span></p>
        </div>
      </li>
    </ul>
  </div>
</div>
